body{
    background-image: url("carracinggif.gif");
    background-position: center;
    background-size: cover;
}
#myCanvas{
    
    margin-top: 30px;
    border-width: 10px;
    border-style: double;
}